body {
    background-color: black;
    background-image: url('../assets/images/background3.png');
    background-size: 500px;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

canvas {
    display: block;
}