body {
    background-color: black;
    background-image: url('../assets/images/starsmid.png'), url('../assets/images/starsfront.png'), url('../assets/images/background4.png');
    background-size: 750px, 500px, 1000px;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

canvas {
    display: block;
}